gemini_flash8b_temp_db.json
phone_numbers_db.json
IMG_4332.jpeg
__pycache__
.pytest_cache
.dsstore
.env
.DS_Store
.build
.swiftpm
blazin.xcodeproj
app/.build/arm64-apple-macosx/debug/app.build
app/blazin/blazin.xcodeproj
.vscode
app/.build